nav {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
  width: 40vw;
  font-size: 20px;
}

nav img {
  width: 50px;
  border-radius: 50%;
}

header {
  text-align: center;
}
ul {
  display: flex;
  gap: 10px;
  width: 50%;
  justify-content: center;
}

ul li a {
  text-decoration: none;
}

#home {
  background-color: orange;
  padding: 50px;
  margin-top: 10px;
  text-align: center;
}

.about-icons {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.about-icons div {
  text-align: center;
  background-color: lightgray;
  padding: 40px;
  margin: 10px;
}

#about h2,
#about p {
  text-align: center;
}

#service {
  background-color: orange;
  padding: 30px;
}

#contact {
  background-color: lightgray;
  width: 70%;
  margin: auto;
  text-align: center;
}

#contact label,
#contact button {
  display: block;
  margin: 10px auto;
}

#try {
  background-color: red;
  position: relative;
}

#try img {
  width: 100%;
}

#try p {
  bottom: 0px;
  left: 100px;

  font-size: 20px;
  color: white;
}
